<div class="wrapper">
	<div class="header">Avengers Responsive Cards UI Design</div>

	<div class="cards_wrap">
		<div *ngFor="let item of inspectionList$|async" class="card_item">
			<div  class="card_inner">
				<img onclick="location.href='#';" style="cursor: pointer;" src="">
				<div onclick="location.href='#';" style="cursor: pointer;" class="role_name">{{item.comments}}</div>
				<div class="real_name">Chadwick Boseman</div>
				<div class="film">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</div>
			</div>
		</div>
	</div>
</div>  
