<div class="wrapper">
	<div class="header">Avengers Responsive Cards UI Design</div>

	<div class="cards_wrap">
		
		<div *ngFor="let restaurant of restaurantList$|async" class="card_item">
			
			<div  class="card_inner">
				<img routerLink="/restaurant/{{restaurant.id}}" style="cursor: pointer;" src="">
				<div routerLink="/restaurant/{{restaurant.id}}" style="cursor: pointer;" class="role_name">{{restaurant.name}}</div>
				<div class="real_name">{{restaurant.description}}</div>
				<!--- <div class="film">{{item.description}}.</div> -->
			</div>
		
		</div>

	</div>
</div>  
